.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e2e;
  color: #cdd6f4;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  color: #89b4fa;
}

.placar {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.pontos-box {
  background-color: #313244;
  padding: 1rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.pontos-box.voce {
  border-top: 4px solid #a6e3a1; /* Linha verde no topo */
}

.pontos-box.pc {
  border-top: 4px solid #f38ba8; /* Linha vermelha no topo */
}

.botoes {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-jogada {
  background-color: #45475a;
  color: #cdd6f4;
  border: 2px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease; /*animacao suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* efeito quando o mouse passa por cima de um botao*/
.btn-jogada:hover {
  transform: translateY(-5px);
  background-color: #89b4fa;
  color: #11111b;
  border: 2px solid #b4befe;
}

/*clique do botao */
.btn-jogada:active {
  transform: translateY(0);
}

.resultado-box {
  background-color: #313244;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.resultado-box strong {
  color: #89b4fa;
}